form{
    border: solid 1px black;
    width: 400px;
    padding-left: 10px;
    margin-left: 10px;
    padding-top: 30px;
}
body{
    background-image: url(yummy\ burger.jpg);
    background-repeat:no-repeat ;
    background-size: 1400px 750px;
}
label{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
h1{
    color: black;
    font-size: 40px;
    text-align: center;
}
input{
    height: 30px;
    width: 300px;
    background: none;
    outline: none;
    border: none;
border-bottom-style: solid;
border-bottom-color: white;
border-bottom-width: 5px ;
color: white;
font-size: 20px;
}
textarea{
    width: 300px;
    height: 90px;
}
button{
    height: 50px;
    width: 150px;
    background-color: orangered;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;

}
#avatar{
    border-radius: 50%;
    position: relative;
    left: 160px;
    top: 40px;
}